@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

:root {
  --lg-font: "Kaisei Tokumin", serif;
  --sm-font: "Poppins", sans-serif;
  --green: #00b074;
}
body {
  font-family: var(--sm-font);
}

/* button */
.bg-primary {
  background-color: var(--green) !important;
}
.btn:not(.nav-btns button) {
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover {
  background-color: var(--green);
  color: #fff;
  border-color: var(--green);
}
.main-btn {
  background-color: var(--green);
}
.main-btn:hover {
  background-color: #049f6b;
}

/* text color */
.text-primary {
  color: var(--green) !important;
}

/* navbar */
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
  width: 30px;
}
.navbar-brand span {
  letter-spacing: 2px;
  font-family: var(--lg-font);
}
.nav-link:hover {
  color: var(--green) !important;
}
.nav-item {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
.fa-window-close {
  cursor: pointer;
  background: #ffffff;
}
/* Modal Search */
/* header */
#header {
  /* background: url(../images/banner-img-1.jpg) top/cover no-repeat; */
}
.carousel-inner h1 {
  font-size: 60px;
  font-family: var(--lg-font);
}
.carousel-item .btn {
  border-color: #fff !important;
}
.carousel-item .btn:hover {
  border-color: var(--green) !important;
}

/* title */
.title h2::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 50px;
  background-color: var(--green);
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Product */
.product-badge {
  position: absolute;
  top: 215px;
}
/* Jobs */
.product-cardd {
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px 0px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -6px 20px 0px inset, rgba(0, 0, 0, 0.1) 0px -29px 20px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 0px 0px, rgba(0, 0, 0, 0.09) 0px 0px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav-pills .nav-item .active {
  border-bottom: 2px solid var(--primary);
}

.job-item {
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.job-item:hover {
  border-color: rgba(0, 0, 0, 0.08);
  box-shadow: none;
}

/* special */
.special-img span {
  top: 20px;
  right: 20px;
}
.special-list .btn {
  padding: 8px 20px !important;
}
.special-img img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.special-img:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
/*** Category ***/
.cat-item {
  display: block;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  border: 1px solid transparent;
  transition: 0.5s;
  text-decoration: none;
}

.cat-item:hover {
  border-color: rgba(0, 0, 0, 0.08);
  box-shadow: none;
}
.cat-item p {
  color: var(--green);
}

/* about */
.about-bg {
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -moz-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -o-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-size: 5px 5px;
}
/* Our Teams */
#team .social {
  text-align: center;
}
#team i {
  color: var(--green);
  padding: 10px;
}
#team i:hover {
  background-color: #0000000c;
  border-radius: 10px;
  color: rgb(26, 48, 71);
}
/* Testominals */
@media (min-width: 580px) {
  /* .carousel-inner{
        padding-right: 130px;
         padding-left: 130px;
    } */
}

/* newsletter */
#newsletter {
  background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p {
  max-width: 600px;
}
#newsletter .input-group {
  max-width: 500px;
}
#newsletter .form-control {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#newsletter .btn {
  background-color: var(--green);
  color: #fff;
  border-color: var(--green);
}
#newsletter .btn:hover {
  background-color: #000;
  border-color: #000;
}

/* footer */
footer .brand {
  font-family: var(--lg-font);
  letter-spacing: 2px;
}

footer a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
footer a:hover {
  color: var(--green) !important;
}

/* media queries */
@media (min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
}

/* Book Detail */
#multi-item-example img {
  height: 100px;
  width: 100px;
}
