/* @import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap'); */

:root{
  --primary: #00B074;
  --text-primary: black;
  --text-secondary:rgb(73, 73, 73);
  --text-link:#009CFF;
  --white:#ffffff;
  --border-light:rgba(0, 0, 0, .08);
  --black: black;
  --light:#F3F6F9;
  --shadow-product: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --auth-bg:#0000000d;
}


/* button */
.bg-primary{
  background-color: var(--primary) !important;
}

.btn:not(.nav-btns button):hover{
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}
.main-btn{
  background-color: var(--primary);
}
.main-btn:hover{
  background-color: #049f6b;
}

/* text color */
.text-primary{
  color: var(--primary)!important;
}

/* navbar */

.navbar-brand img{
  width: 30px;
}
.navbar-brand span{
  letter-spacing: 5px;
  font-family: var(--lg-font);
}
.nav-link:hover{
  color: var(--primary)!important;
}

.fa-window-close{
  cursor: pointer;
  background: var(--white);
}
@media(min-width:1080px){
  .nav-item{
      font-weight: 400;
      font-size: 1rem;
  }
}
/* Modal Search */
/* header */

.carousel-image,
.carousel-image1,
carousel-img{
  width: 100%;
  height: 700px;
  background-size: cover;
  background-size: 100% 100%;
}
.carousel-image{
background-image: url(./assets/banner-img-1.jpg);
}
.carousel-image1{
  background: url(./assets/banner-img-2.jpg);
}


.carousel-inner h1{
  font-size: 60px;
  font-family: var(--lg-font);
}
.carousel-item .btn{
  border-color: var(--white);
}
.carousel-item .btn:hover{
  border-color: var(--primary);
}

/* title */
.title h2::before{
  position: absolute;
  content: "";
  width: 4px;
  height: 50px;
  background-color: var(--primary);
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Product */
.product-badge{
  position: absolute;
  top: 215px;
}
.ashop-product-card a{
  text-decoration: none;
}

/* Jobs */
.product-cardd{
  box-shadow: var(--shadow-product);
} 
.nav-pills .nav-item .active {
  border-bottom: 2px solid var(--primary);
}

.job-item {
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}

.job-item:hover {
  border-color: rgba(0, 0, 0, .08);
  box-shadow: none;
}

/* special */
.special-img span{
  top: 20px;
  right: 20px;
}
.special-list .btn{
  padding: 8px 20px!important;
}
.special-img img{
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.special-img:hover img{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.btn-primary{
  color: var(--white);
  background-color: var(--primary);
  border: none;
  border-radius: 30px;
}
.btn-light{
  color: var(--text-primary);
  background-color: var(--light);
  border-radius: 30px;
}
/*** Category ***/
.cat-item {
  display: block;
  box-shadow: 0 0 45px var(--border-light);
  border: 1px solid transparent;
  transition: .5s;
  text-decoration: none;
}

.cat-item:hover {
  border-color: var(--border-light);
  box-shadow: none;
}
.cat-item p{
  color: var(--primary);
}

/* about */
.about-bg {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-size: 5px 5px;
}
/* Our Teams */
#team .social{
  text-align: center;
}
#team i{
  color: var(--primary);
  padding: 10px;
}
#team i:hover{
  background-color: #0000000c;
  border-radius: 10px;
  color: rgb(26, 48, 71);
}
/* Testominals */
@media(min-width:580px) {
  /* .carousel-inner{
      padding-right: 130px;
       padding-left: 130px;
  } */
}

/* newsletter */
#newsletter{
  background-color: var(--light);
}
#newsletter p{
  max-width: 600px;
}
#newsletter .input-group{
  max-width: 500px;
}
#newsletter .form-control{
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: var(--border-light);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#newsletter .btn{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--border-light);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
#newsletter .btn:hover{
  background-color: var(--black);
  border-color: var(--black);
}

/* footer */
footer .brand{
  font-family: var(--lg-font);
  letter-spacing: 2px;
}

footer a{
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
footer a:hover{
  color: var(--primary)!important;
}

/* media queries */
@media(min-width: 992px){
  .nav-item{
      border-bottom: none;
  }
}

/* Book Detail */
#multi-item-example img{
  height: 100px;
  width: 100px;
}

/* Notification */
.section-50 {
  padding: 50px 0;
  background-color: var(--light);
}
.m-b-50 {
  margin-bottom: 50px;
}
.heading-line {
  position: relative;
  padding-bottom: 5px;
}
.heading-line:after {
  content: "";
  height: 4px;
  width: 75px;
  background-color: var(--text-link);
  position: absolute;
  bottom: 0;
  left: 0;
}


.notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 7px;
  background: var(--white);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.notification-list--unread {
  border-left: 2px solid var(--text-link);
}

.notification-list .notification-list_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notification-list .notification-list_content .notification-list_img img {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  margin-right: 20px;
}

.notification-list .notification-list_content .notification-list_detail p {
  margin-bottom: 5px;
  line-height: 1.2;
}

.notification-list .notification-list_feature-img img {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  margin-left: 20px;
}

/* Profile */
.profile .profile-card img {
  max-width: 120px;
}

.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-primary);
  margin: 10px 0 0 0;
}

.profile .profile-card h3 {
  font-size: 18px;
}

.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: var(--text-secondary);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}

.profile .profile-overview .card-title {
  color: var(--text-primary);
}

.profile .profile-overview .label {
  font-weight: 600;
  color: var(--text-secondary);
}

.profile .profile-edit label {
  font-weight: 600;
  color: var(--text-secondary);
}

.profile .profile-edit img {
  max-width: 120px;
}

/* Login */

/*------------ Login container ------------*/
.auth-background{
  background-color: var(--auth-bg);
}
.box-area{
  width: 930px;
}
.featured-image img{
  height: 450px;
}
.right-box{
  padding: 40px 30px 40px 40px;
}

::placeholder{
  font-size: 16px;
}
.rounded-6{
  border-radius: 12px;
}
.rounded-4{
  border-radius: 20px;
}
.rounded-5{
  border-radius: 30px;
}
@media only screen and (max-width: 768px){

   .box-area{
      margin: 0 10px;

   }
   .left-box{
      height: 100px;
      overflow: hidden;
   }
   .right-box{
      padding: 20px;
   }

}


/* *********************************Dashboard*************************** */
.bg-light-custom{
  background-color: var(--light);
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}


/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Layout ***/
.dashboard-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background: var(--light);
  transition: 0.5s;
  z-index: 999;
}

.nav-content {
  margin-left: 250px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}

@media (min-width: 992px) {
  .dashboard-sidebar {
      margin-left: 0;
  }
  .dashboard-sidebar.open {
      margin-left: -250px;
  }
  .nav-content {
      width: calc(100% - 250px);
  }
  .nav-content.open {
      width: 100%;
      margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .dashboard-sidebar {
      /* margin-left: -250px; */
  }
  .dashboard-sidebar.open {
      margin-left: 0;
  }
  .nav-content {
      width: 100%;
      /* margin-left: 0px; */
  }
}
/*** Navbar ***/
.dashboard-sidebar .navbar .navbar-nav .nav-link {
  padding: 7px 20px;
  color: var(--text-primary);
  font-weight: 500;
  border-left: 3px solid var(--light);
  border-radius: 0 30px 30px 0;
  outline: none;
}
.dashboard-sidebar .navbar .navbar-nav .nav-link:hover,
.dashboard-sidebar .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
  background: var(--white);
  border-color: var(--primary);
}
.dashboard-sidebar .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-radius: 40px;
}

.dashboard-sidebar .navbar .navbar-nav .nav-link:hover i,
.dashboard-sidebar .navbar .navbar-nav .nav-link.active i {
  background: var(--light);
}
.dashboard-sidebar .navbar .dropdown-toggle::after {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: .5s;
}
.dashboard-sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(-180deg);
}

.dashboard-sidebar .navbar .dropdown-item {
  padding-left: 25px;
  border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
  margin-left: 25px;
  padding: 12px 0;
  color: var(--dark);
  outline: none;
}

.nav-content .navbar .navbar-nav .nav-link:hover,
.nav-content .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.nav-content .navbar .sidebar-toggler,
.nav-content .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-radius: 40px;
}

.nav-content .navbar .dropdown-toggle::after {
  margin-left: 6px;
  vertical-align: middle;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: .5s;
}

.nav-content .navbar .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
  .nav-content .navbar .navbar-nav .nav-link {
      margin-left: 15px;
  }
}
.fa-trash:hover,
.fa-pen-to-square:hover{
  background-color: #ffffff;
}